.container{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
.item{
    background-color: yellow;
    width: calc(25% - 20px);
    margin: 10px;
    padding: auto;
    font-size: 30px;
    text-align: center;
}
*{
    box-sizing: border-box;
}